<!-- Navigation -->
<nav class="pushy pushy-left">
    <div class="pushy-content">
        <ul>
            <!-- Submenu -->
            <li class="pushy-link"><a href="/">Home</a></li>
            <li class="pushy-submenu">
                <button>Change Environment</button>
                <ul>
                    <li class="pushy-link"><a class="env">TST</a></li>
                    <li class="pushy-link"><a class="env">OAT</a></li>
                    <li class="pushy-link"><a class="env">SIT2</a></li>
					          <li class="pushy-link"><a class="env">TDEV</a></li>
                </ul>
            </li>
            <li class="pushy-submenu">
                <button>Enrollment</button>
                <ul>
                    <li class="pushy-link"><a href="/enrollment">Enrollment Page</a></li>
                    <li class="pushy-link"><a href="/enrollment/help">Enrollment Help</a></li>
                </ul>
            </li>
            <li class="pushy-submenu">
                <button>Event</button>
                <ul>
                  <li class="pushy-link"><a href="/event">Event Page</a></li>
                  <li class="pushy-link"><a href="/event/help">Event Help</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>

<script>
    
</script>
<!-- Site Overlay -->
<div class="site-overlay"></div>
