@import 'top_nav.css';
@import 'left_nav.css';


/**
GLOBAL
**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#content {
  height: auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.table-buttons-wrapper {
  padding-top: 5vh;
}

.main-content {
  padding: 0 20px;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}

.jsgrid-grid-header, .jsgrid-grid-body {
  overflow-y: auto;
}

.capitalize {
  text-transform: capitalize;
}

#screenlock {
  height: 100%;
  width: 100%;
  position: fixed;
  color: black;
  opacity: 0.8;
}
